body {
  background: #f4f4f4; 
  margin: 0;
  font-family: Arial, sans-serif;
}

.kotak2 {
  max-width: 800px;
  max-height: 400px;          
  margin: 0px auto;       
  background: #914d4d;       
  padding: 10px;
  overflow: auto;       
}


.kotak {
  max-width: 800px;        
  margin: 0px auto;       
  background: #f30000;       
  padding: 10px;           
}


.container {
  max-width: 800px;        
  margin: 0px auto;       
  background: #914d4d;       
  padding: 10px;           
}


.header ul {
  margin: 0;
  padding: 10px;
  list-style: none;
  text-align: left; 
  
}


.header ul li {
  display: inline;
  margin-right: 20px;
  text-decoration: none;
}

.header ul li a {
  text-decoration: none; 
  color: rgb(0, 0, 0);  
}


.judul{text-align: left; 
    padding: 0px;
    margin: 10px;
}
